<div class="container">
    <app-cockpit 
        (serverCreated)="onServerAdded($event)"
        (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element 
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement"></app-server-element>
        </div>
    </div>
</div>


















<!--This is the first part of course 
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="inApp">
                <h1> I am in App Component </h1>
                <hr>
            </div>
            <div class="serverComp">
                <app-servers></app-servers>
                <hr>
            </div>
            <div class="warningComp">
                <app-warning></app-warning>
                <hr>
            </div>
            <div class="successComp">
                <app-success></app-success>
                <hr>
            </div>
        </div>
    </div>
</div> -->